<!doctype html>
<html>
    <head>
        <title>PI Weather Station</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://kit.fontawesome.com/150d727ee2.js" crossorigin="anonymous"></script>
        <link href="{{ url_for('static', filename='portal.css') }}" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js" integrity="sha256-7lWo7cjrrponRJcS6bc8isfsPDwSKoaYfGIHgSheQkk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <main>
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                            <a href="/"
                               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                <img src="{{ url_for('static', filename='raspberry.png') }}"
                                     alt="Raspbery PI Weather Stattion" height="50px"/>
                                <span class="fs-4">Weather Station</span>
                            </a>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                                id="menu">
                                <li class="nav-item">
                                    <a href="/" class="nav-link text-white" aria-current="page">
                                        <i class="fas fa-home"></i> Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/temperature" class="nav-link text-white" aria-current="page">
                                        <i class="fas fa-thermometer-half"></i> Temperature
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/humidity" class="nav-link text-white" aria-current="page">
                                        <i class="fas fa-hand-holding-water"></i> Humidity
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/light_level" class="nav-link text-white" aria-current="page">
                                        <i class="fas fa-sun"></i> Light Level
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col py-3">
                        <div class="portal-content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

    </body>
</html>

