{% extends 'base.html' %}

{% block content %}
<div class="container py-3">
    <header>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Welcome to the PI Weather Station</h1>
            <p class="fs-5 text-muted">Current readings</p>
        </div>
    </header>


    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Temperature</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ temperature[1] }} <small class="text-muted fw-light">°C</small></h1>
                    <center>
                        <small>{{ temperature[0].strftime('%Y-%m-%d %H:%M') }}</small>
                    </center>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Humidity</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ humidity[1] }} <small
                            class="text-muted fw-light">g/m3</small></h1>
                    <center>
                        <small>{{ humidity[0].strftime('%Y-%m-%d %H:%M') }}</small>
                    </center>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Light Level</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ light_level[1] }} <small class="text-muted fw-light">lumens</small></h1>
                    {% if light_level[0] -%}
                    <center>
                        <small>{{ light_level[0].strftime('%Y-%m-%d %H:%M') }}</small>
                    </center>
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
